body {
  color: #565656;
  font-size: 18px;
  font-family: 'Arial', sans-serif; }

main {
  padding: 85px 0 100px; }

.main__container {
  max-width: 1175px;
  width: 100%;
  margin: 0 auto; }
  .main__container.main__container--author {
    max-width: 580px;
    margin-top: 30px; }
  .main__container.main__container--tags {
    max-width: 580px;
    margin-bottom: 75px; }
  .main__container.main__container--footer {
    max-width: 580px; }

p {
  font-size: 18px;
  line-height: 32px; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 60px;
  margin-bottom: 25px;
  color: #333333; }

h1 {
  font-size: 38px;
  line-height: 38px; }

h2 {
  font-size: 38px;
  line-height: 38px; }

h3 {
  font-size: 28px;
  line-height: 28px; }

h4 {
  font-size: 20px;
  line-height: 28px; }

h5 {
  font-size: 18px;
  line-height: 28px; }

h6 {
  font-size: 16px;
  line-height: 24px; }

header {
  height: 135px;
  padding: 38px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  header .header__logo {
    float: left; }
  header nav {
    float: right; }
    header nav ul {
      display: inline-block; }
      header nav ul li {
        display: inline-block;
        margin-left: 20px;
        margin-right: 20px; }
        header nav ul li:last-child {
          margin-left: 15px;
          margin-right: 0; }
        header nav ul li a {
          text-decoration: none;
          color: #919191;
          font-size: 16px; }
      header nav ul .btn-default a {
        padding: 17px 10px;
        text-align: center;
        background: #4a90e2;
        width: 140px;
        display: inline-block;
        border-radius: 2px;
        color: #ffffff; }

.single__post {
  max-width: 576px;
  margin: 0 auto;
  display: block;
  position: relative; }
  .single__post img {
    width: 770px;
    display: block;
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    height: 100%;
    margin-top: 60px;
    margin-bottom: 30px; }
  .single__post ol {
    list-style: decimal; }
  .single__post ul {
    list-style: disc; }
  .single__post ul li, .single__post ol li {
    font-size: 18px;
    line-height: 32px;
    list-style-position: outside;
    padding-left: 10px;
    margin-left: 50px; }

.author {
  border-top: 2px solid #f4f4f4;
  margin-bottom: 30px;
  padding-top: 50px;
  position: relative; }
  .author .author__avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: -40px;
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%); }
    .author .author__avatar img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: center;
      object-position: center;
      position: static;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
      margin: 0; }
  .author .author__info {
    width: 375px;
    margin: 0 auto;
    text-align: center; }
    .author .author__info.author__info--name h4 {
      color: #333333;
      margin-top: 0;
      margin-bottom: 20px; }
    .author .author__info.author__info--bio {
      font-size: 16px;
      color: #999999;
      line-height: 24px; }

.tags__cloud .tag {
  width: 90px;
  height: 30px;
  background: #d6d6d6;
  color: #fff;
  padding: 10px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
  margin: 20px 6px;
  display: inline-block;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase; }

.editable_box {
  width: 770px;
  margin: 0 auto;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  border: 1px solid #b9d0fa;
  border-radius: 2px;
  padding: 26px;
  background: #f6f9fe;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .editable_box .editable_box--container h4, .editable_box .editable_box--container h6 {
    margin-top: 0;
    margin-bottom: 12px; }
  .editable_box .editable_box--container h4 a {
    text-decoration: none;
    color: inherit; }
    .editable_box .editable_box--container h4 a svg {
      margin-left: 10px; }
  .editable_box .editable_box--container h6 {
    color: #999999; }
  .editable_box .icon {
    height: 90px;
    width: 90px;
    background: #e5effb;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    margin-right: 20px; }
    .editable_box .icon svg {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }

.sidebar__container {
  width: 50px;
  text-align: center;
  position: fixed;
  right: 82px;
  top: 30vh;
  display: block; }
  .sidebar__container .title {
    font-size: 10px;
    color: #999999;
    text-transform: uppercase;
    letter-spacing: 1px; }
  .sidebar__container .share {
    width: 30px;
    height: 30px;
    display: block;
    border-radius: 50%;
    background: #4990e2;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    margin: 0 auto 20px; }
    .sidebar__container .share svg {
      width: 14px;
      height: 14px;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
      .sidebar__container .share svg path {
        fill: #fff; }

.single__post--sneakpeak .thumbnail {
  width: 100%;
  height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: block; }

.single__post--sneakpeak .info {
  text-align: center; }
  .single__post--sneakpeak .info .title {
    text-align: center; }
  .single__post--sneakpeak .info .link {
    text-decoration: none;
    color: inherit; }
    .single__post--sneakpeak .info .link svg {
      margin-left: 10px;
      width: 10px;
      height: 11px; }

footer {
  background-color: #4a90e2;
  width: 100%;
  padding-top: 70px;
  padding-bottom: 180px; }
  footer .container {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%; }
    footer .container .footer__menu:nth-child(1) {
      -webkit-box-ordinal-group: 1;
      -webkit-order: 0;
      -ms-flex-order: 0;
      order: 0;
      -webkit-box-flex: 0;
      -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
      -webkit-align-self: auto;
      -ms-flex-item-align: auto;
      align-self: auto; }
    footer .container .footer__menu {
      width: 33.3333333%; }
      footer .container .footer__menu .footer__title {
        margin-top: 0;
        color: #ffffff; }
      footer .container .footer__menu a {
        color: #efefff;
        text-decoration: none;
        font-size: 16px;
        line-height: 32px; }
