body {
  color: #565656;
  font-size: 18px;
  font-family: 'Arial', sans-serif;
}
main {
  padding: 85px 0 100px;
}
.main__container {
  max-width: 1175px;
  width: 100%;
  margin: 0 auto;
  &.main__container--author {
    max-width: 580px;
    margin-top: 30px;
  }
  &.main__container--tags {
    max-width: 580px;
    margin-bottom: 75px;
  }
  &.main__container--footer {
    max-width: 580px;
  }
}

@mixin btn-default {
  padding: 17px 10px;
  text-align: center;
  background: #4a90e2;
  width: 140px;
  display: inline-block;
  border-radius: 2px;
}

p {
  font-size: 18px;
  line-height: 32px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 60px;
  margin-bottom: 25px;
  color: #333333;
}

h1 {
  font-size: 38px;
  line-height: 38px;
}

h2 {
  font-size: 38px;
  line-height: 38px;
}

h3 {
  font-size: 28px;
  line-height: 28px;
}

h4 {
  font-size: 20px;
  line-height: 28px;
}

h5 {
  font-size: 18px;
  line-height: 28px;
}

h6 {
  font-size: 16px;
  line-height: 24px;
}

header {
  height: 135px;
  padding: 38px 0;
  box-sizing: border-box;
  .header__logo {
    float: left;
  }
  nav {
    float: right;
    ul {
      display: inline-block;
      li {
        display: inline-block;
        margin-left: 20px;
        margin-right: 20px;
        &:last-child {
          margin-left: 15px;
          margin-right: 0;
        }
        a {
          text-decoration: none;
          color: #919191;
          font-size: 16px;
        }
      }
      .btn-default {
        a {
          @include btn-default;
          color: #ffffff;
        }
      }
    }
  }
}

.single__post {
  max-width: 576px;
  margin: 0 auto;
  display: block;
  position: relative;
  img {
    width: 770px;
    display: block;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    height: 100%;
    margin-top: 60px;
    margin-bottom: 30px;
  }
  ol {
    list-style: decimal;
  }
  ul {
    list-style: disc;
  }
  ul, ol {
    li {
      font-size: 18px;
      line-height: 32px;
      list-style-position: outside;
      padding-left: 10px;
      margin-left: 50px;
    }
  }
}

.author {
  border-top: 2px solid #f4f4f4;
  margin-bottom: 30px;
  padding-top: 50px;
  position: relative;
  .author__avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translate(-50%);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      position: static;
      transform: none;
      margin: 0;
    }
  }
  .author__info {
    width: 375px;
    margin: 0 auto;
    text-align: center;
    &.author__info--name {
      h4 {
        color: #333333;
        margin-top: 0;
        margin-bottom: 20px;
      }
    }
    &.author__info--bio {
      font-size: 16px;
      color: #999999;
      line-height: 24px;
    }
  }
}

.tags__cloud {
  .tag {
    width: 90px;
    height: 30px;
    background: #d6d6d6;
    color: #fff;
    padding: 10px 0;
    box-sizing: border-box;
    border-radius: 2px;
    margin: 20px 6px;
    display: inline-block;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
  }
}

.editable_box {
  width: 770px;
  margin: 0 auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #b9d0fa;
  border-radius: 2px;
  padding: 26px;
  background: #f6f9fe;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  box-sizing: border-box;
  .editable_box--container {
    h4, h6 {
      margin-top: 0;
      margin-bottom: 12px;
    }
    h4 {
      a {
        text-decoration: none;
        color: inherit;
        svg {
          margin-left: 10px;
        }
      }
    }
    h6 {
      color: #999999;
    }
  }
  .icon {
    height: 90px;
    width: 90px;
    background: #e5effb;
    border-radius: 50%;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    margin-right: 20px;
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
.sidebar__container {
  width: 50px;
  text-align: center;
  position: fixed;
  right: 82px;
  top: 30vh;
  display: block;
  .title {
    font-size: 10px;
    color: #999999;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .share {
    width: 30px;
    height: 30px;
    display: block;
    border-radius: 50%;
    background: #4990e2;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    margin: 0 auto 20px;
    svg {
      width: 14px;
      height: 14px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      path {
        fill: #fff;
      }
    }
  }
}
.single__post--sneakpeak {
  .thumbnail {
    width: 100%;
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
  }
  .info {
    text-align: center;

    .title {
      text-align: center;
    }
    .link {
      text-decoration: none;
      color: inherit;
      svg {
        margin-left: 10px;
        width: 10px;
        height: 11px;
      }
    }
  }
}
footer {
  background-color: #4a90e2;
  width: 100%;
  padding-top: 70px;
  padding-bottom: 180px;
  .container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    .footer__menu:nth-child(1) {
      order: 0;
      flex: 0 1 auto;
      align-self: auto;
    }
    .footer__menu {
      width: 33.3333333%;
      .footer__title {
        margin-top: 0;
        color: #ffffff;
      }
      a {
        color: #efefff;
        text-decoration: none;
        font-size: 16px;
        line-height: 32px;
      }
    }
  }
}